#python specific
*.pyc
__pycache__
.pytest_cache
.ipynb_checkpoints
*.egg-info

#emacs specific
\#*\#

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.log
*.out
*.png
*.jpg
*.pdf
*.txt
*.npy
*.csv
*.nc

# Project specific
/build/
/dist/
/htmlcov/
/env/
.venv
.coverage

# data files and resultsc
/temp/*
/example/temp/*
/data/Sofar/*
/analysis/paper_figure/temp/*